@tailwind base;
@tailwind components;
@tailwind utilities;


.perspective-1000 {
    perspective: 1000px;
}

.preserve-3d {
    transform-style: preserve-3d;
}

.backface-hidden {
    backface-visibility: hidden;
}

.rotate-y-180 {
    transform: rotateY(180deg);
}

.slide-out-left {
    transform: translateX(-120%);
    opacity: 0;
}

.slide-in-right {
    transform: translateX(120%);
    opacity: 0;
}

.slide-out-right {
    transform: translateX(120%);
    opacity: 0;
}

.slide-in-left {
    transform: translateX(-120%);
    opacity: 0;
}

.slide-center {
    transform: translateX(0);
    opacity: 1;
}

.preserve-3d {
    transform-style: preserve-3d;
}

.backface-hidden {
    backface-visibility: hidden;
}

.rotate-y-180 {
    transform: rotateY(180deg);
}