@rendermode InteractiveWebAssembly 
@inject AuthService auth


<div class="space-y-2">
	<label for="email" class="text-sm fotn-medium text-gray-700">Email</label>
	<input @bind="Email" type="email" id="email" placeholder="juandelacruz@gmail.com" class="w-full border border-gray-300 rounded-md p-2" />

</div>

<div class="space-y-2">
	<label for="password" class="text-sm fotn-medium text-gray-700">Password</label>
	<input @bind="Password" type="password" id="password" placeholder="********" class="w-full border border-gray-300 rounded-md p-2" />

</div>
<div class="space-y-2">
	<button @onclick="HandleLogin" class="w-full bg-blue-600 text-gray-700 rounded-md p-2 hover:bg-blue-700">Login</button>
</div>




@code {
	private string Email { get; set; } = string.Empty;
	private string Password { get; set; } = string.Empty;


	private async Task HandleLogin()
	{
		Console.WriteLine($"Email: {Email}, Password: {Password}");

		await auth.LoginAsync(Email, Password);
	}
}
