@rendermode InteractiveWebAssembly
@inject AuthService auth
@inject User user

<h3>Register</h3>
<div class="space-y-2">
	<label for="email" class="text-sm font-medium text-gray-700">Email</label>
	<input @bind="user.Email" type="email" id="email" placeholder="juandelacruz@gmail.com" class="w-full border border-gray-300 rounded-md p-2" />

</div>

<div class="space-y-2">
	<label for="password" class="text-sm font-medium text-gray-700">Password</label>
	<input @bind="user.Password" type="password" id="password" placeholder="********" class="w-full border border-gray-300 rounded-md p-2" />

</div>
<div class="space-y-2">
	<button @onclick="HandleRegister" class="w-full bg-blue-600 text-gray-700 rounded-md p-2 hover:bg-blue-700">Login</button>
</div>

@if(user.Uid != null )
{
	<p>Your User ID is @user.Uid</p>
	<p>Registered Email is @user.Email</p>
}
<div class="space-y-2">


</div>
@code {


	private async Task HandleRegister()
	{
		user = await auth.RegisterAsync(user);
	}
}
